body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f4f9;  
    color: #333333;  
    line-height: 1.5;
    padding: 0;
    margin: 0;

    /* Center content */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Prevent scroll if content overflows */
}

.container {
    max-width: 400px; /* Prevent container from being too wide */
    width: 100%; /* Allow flexibility on smaller screens */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    box-sizing: border-box; /* Ensures padding doesn't overflow */
}

h1, h2 {
    text-align: center;
    color: #000304;
}

h1 {
    font-size: 25px;  
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.alert {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-danger {
    background-color: #168e94;
    border-color: #141286;
    color: #d01225;
}

.alert-success {
    background-color: #fff;
    border-color: #000304;
    color: #e50f24;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between elements */
}

label {
    font-size: 18px;
    color: #334444;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #1d0c64;
    border-radius: 4px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box; /* Fix for input overflow */
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #3b22b8;  
}

button[type="submit"] {
    padding: 12px;
    font-size: 18px;
    background-color: #168e94; /* Distinct background */
    color: white; /* Contrast text color */
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

button[type="submit"]:hover {
    background-color: #0d6d75; /* Slightly darker hover effect */
}

.form-footer p {
    margin: 0;
    text-align: center;
}

a {
    color: #1ea2bf; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 700px) {
    .container {
        width: 90%; 
    }
    
    h1, h2 {
        font-size: 22px; 
    }
    
    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        font-size: 16px; 
    }

    .alert {
        font-size: 16px; 
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 60%; 
    }

    h1 {
        font-size: 40px; 
    }

    h2 {
        font-size: 32px;
    }
}
